  /* styles.css */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.container h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #330202;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #cff10e;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 2px solid #886c6c;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.editing {
  background-color: #ca7474;
}